#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ql-container {
  height: 100% !important;
}

.ProsMirror{
  padding: 10px;
  border-top: 1px solid grey;
  background: white;
  border-radius: 0 0 5px 5px;
  min-height: 100px;

} 
.ProsMirror .tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  .ProsMirror ul, 
  .ProsMirror ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    
    .ProsMirror li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  .ProsMirror h1, 
  .ProsMirror h2, 
  .ProsMirror h3, 
  .ProsMirror h4, 
  .ProsMirror h5, 
  .ProsMirror h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  .ProsMirror h1, 
  .ProsMirror h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  .ProsMirror h1 { 
    font-size: 1.4rem; 
  }

  .ProsMirror h2 { 
    font-size: 1.2rem; 
  }

  .ProsMirror h3 { 
    font-size: 1.1rem; 
  }

  .ProsMirror h4, 
  .ProsMirror h5, 
  .ProsMirror h6 { 
    font-size: 1rem; 
  }

  /* Code and preformatted text styles */
  .ProsMirror code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }
  

  .ProsMirror blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  .ProsMirror hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}